@using Alfursan.Domain
@model Alfursan.Web.Models.RoleViewModel

<div class="panel panel-default">
    <div class="panel-heading">Kullanıcı yetkileri</div>
    <div class="panel-body">
        @foreach (var userRole in Model.Roles.Where(f => f.RoleType == EnumRoleType.UserRole))
        {
            <div>
                @Html.CheckBox(userRole.Role.ToString(), userRole.IsActive, new { id = userRole.Role.ToString() })
                @Html.Label(Alfursan.Resx.Management.ResourceManager.GetString("EnumRole_" + userRole.Role.ToString()), new { @for = userRole.Role.ToString() })
            </div>
        }
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Dosya yetkileri</h3>
    </div>
    <div class="panel-body">
        @foreach (var userRole in Model.Roles.Where(f => f.RoleType == EnumRoleType.FileRole))
        {
            <div>
                @Html.CheckBox(userRole.Role.ToString(), userRole.IsActive, new { id = userRole.Role.ToString() })
                @Html.Label(Alfursan.Resx.Management.ResourceManager.GetString("EnumRole_" + userRole.Role.ToString()), new { @for = userRole.Role.ToString() })
            </div>
        }
    </div>
</div>
@if (Model.ProfileId != EnumProfile.Admin)
{
    <input type="submit" value="kaydet" />
}