
@{
    ViewBag.Title = "Index";
}

<h2>Porta</h2>
<li>@Html.ActionLink("Kullanıcı listesi", "UserList", "Management")</li>
<li>@Html.ActionLink("Kullanıcı ekleme", "CreateUser", "Management")</li>
Müşteri Gümrkçü tanımlama<br/>
Profiller<br/>
Kullanıcı profil düzenleme<br/>







