@using System.Resources
@using Alfursan.Web.Models
@using Microsoft.Ajax.Utilities
@model List<Alfursan.Web.Models.UserListViewModel>
<h2>UserListView</h2>

<button class="btn btn-primary" id="create-user">
    New
</button>
@Html.Partial("/Views/Shared/_ModalView.cshtml")

<div id="grid-container">
   
</div>
@section scripts
{
    <script type="text/javascript" src="~/Scripts/Alfursan.Management.js"></script>
    <script>
        $(document).ready(function () {
            AlfursanManagement.GetUserList("sd");
        });
        $("#create-user").click(function () {
            AlfursanManagement.OpenCreateUserModel();
        });
        $("input[name='delete-user']").click(function () {
            var id = $(this).attr("data");
            AlfursanManagement.OpenCreateUserModel(id);
        });
    </script>
}