body {
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 400px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    min-height: 65px;
}

.navbar-logo {
    background: url('/Images/en/logo.png');
    width: 295px;
    height: 60px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.loading-container {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.6;
    background-color: white;
    z-index: 100000;
    background-image: url('/Images/loader.gif');
    background-position: center center;
    background-repeat: no-repeat;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    vertical-align: middle;
    background-size: 60px;
}

.customer-dropdown-select {
    padding-left: 15px;
    padding-right: 15px;
}

a:hover, a:focus {
    color: #2a6496;
    text-decoration: none;
}

.table-bordered {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.navbar-nav > li {
    float: left;
    text-align: center;
}
.new-user-button {
    margin: 15px 0;
}
.status-icon {
    cursor: pointer;
}
.delete-user,.change-pass {
    cursor: pointer;
    margin: 0 5px;
}
