body {
    padding-top: 115px;
    padding-bottom: 10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 400px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    min-height: 100px;
    padding-top: 15px;
}

.navbar-logo {
    background: url('/Images/en/logo.png');
    width: 295px;
    height: 60px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.loading-container {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.6;
    background-color: white;
    z-index: 100000;
    background-image: url('/Images/loader.gif');
    background-position: center center;
    background-repeat: no-repeat;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    vertical-align: middle;
    background-size: 60px;
}

.customer-dropdown-select {
    padding-left: 15px;
    padding-right: 15px;
}

a:hover, a:focus {
    color: #2a6496;
    text-decoration: none;
}

.table-bordered {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.navbar-nav > li {
    float: left;
    text-align: center;
}

.new-user-button {
    margin: 15px 0;
}

.status-icon {
    cursor: pointer;
}

.delete-user, .edit-user, .delete-file, .btn-change-pass {
    cursor: pointer;
    margin: 0 5px;
}

footer {
    font-size: smaller;
    text-align: center;
}

.forgot-pass {
    font-size: small;
}

.navbar-collapse ul {
    margin-top: 9px;
}

.filter_date_range {
    -moz-min-width: 206px;
    -ms-min-width: 206px;
    -o-min-width: 206px;
    -webkit-min-width: 206px;
    min-width: 206px;
}

.hasDatepicker {
    width: 95px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}

.document-type .btn-default.active {
    background-color: greenyellow;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #ddd;
}
