
<div class="jumbotron">
    <h2>@Resources.Index.WelcomeTitle</h2>
    <p class="lead">@{ WriteLiteral(Resources.Index.WelcomeText);}</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2><a href="/Archive/File">@Resources.Index.UploadTitle</a> </h2>
        <p>@{WriteLiteral(Resources.Index.UploadText);}</p>
        <p><a class="btn btn-success" href="/Archive/File">Add &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2><a href="/Archive/Files/2">Account Documents</a> </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><a class="btn btn-warning" href="/Archive/File/2">Add &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><a href="/Archive/Files/3">Other</a> </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><a class="btn btn-primary" href="/Archive/File/3">Add &raquo;</a></p>
    </div>*@
</div>